
.nav_container {
  background-color: rgb(233, 238, 248);
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .negocios_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    justify-items: center;
  }
}